@model BusinessObject.DTOs.OrderViewDTO

@{
    Layout = "_LayoutCustomer";
    ViewData["Title"] = "Order #" + Model.OrderId;

    List<int> expectedDeliveryDate = new List<int> { 1, 3, 4, 5, 6, 7 };
    List<int> showCancelReason = new List<int> { 5, 6, 7 };
    List<int> showRefundReason = new List<int> { 8, 9 };

    string statusName(int statusCode)
    {
        string temp = "Undefined";
        switch (statusCode)
        {
            case 1:
                temp = "Awaiting Approval";
                break;
            case 2:
                temp = "Delivered";
                break;
            case 3:
                temp = "Being Packed";
                break;
            case 4:
                temp = "Being Delivered";
                break;
            case 5:
                temp = "Awaiting Cancel Approval";
                break;
            case 6:
                temp = "Cancelled By Store";
                break;
            case 7:
                temp = "Cancelled By Customer";
                break;
            case 8:
                temp = "Awaiting Refund Approval";
                break;
            case 9:
                temp = "Refunded";
                break;
        }
        return temp;
    }
}

<!-- Our Dashboard -->
<section class="our-dashbord dashbord pb80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-2 dn-md">
                <div class="users_account_details extra-dashboard-menu">
                    <div class="ed_menu_list">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Account"><span class="flaticon-growth"></span>Account Details</a></li>
                            <li><a class="active" asp-action="Index" asp-controller="Order"><span class="flaticon-checked-box"></span>Orders</a></li>
                            <li><a asp-action="Index" asp-controller="Invoice"><span class="flaticon-invoice"></span>Invoices</a></li>
                            <li><a asp-action="Logout" asp-controller="Home"><span class="flaticon-exit"></span>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xl-10">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dashboard_navigationbar dn db-md mt50">
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn"><i class="fas fa-bars pr10"></i> Dashboard Navigation</button>
                                <ul id="myDropdown" class="dropdown-content">
                                    <li><a asp-action="Index" asp-controller="Account"><span class="flaticon-growth"></span>Account Details</a></li>
                                    <li><a class="active" asp-action="Index" asp-controller="Order"><span class="flaticon-checked-box"></span>Orders</a></li>
                                    <li><a asp-action="Index" asp-controller="Invoice"><span class="flaticon-invoice"></span>Invoices</a></li>
                                    <li><a asp-action="Logout" asp-controller="Home"><span class="flaticon-exit"></span>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="account_user_deails pl40 pl0-lg">
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="ui_kit_message_box">
                                    <div class="alert alart_style_three alert-dismissible fade show" role="alert">
                                        @ViewBag.ErrorMessage
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="flaticon-close"></span></button>
                                    </div>
                                </div>
                            }
                            @if (@ViewBag.SuccessMessage != null)
                            {
                                <div class="ui_kit_message_box">
                                    <div class="alert alart_style_four alert-dismissible fade show" role="alert">
                                        @ViewBag.SuccessMessage
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="flaticon-close"></span></button>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <h2 class="title mb30 col-lg-10">Order Detail</h2>
                                <div class="col-lg-2 d-flex justify-content-end py-1">
                                    @if(Model.Status == 1)
                                    {
                                        <button type="button" class="btn btn-lg btn-white bdr_thm" id="show-cancel-form">Cancel Order</button>
                                    }
                                    @if(Model.Status == 2 && Model.RefundDuration > DateTime.Now)
                                    {
                                        <button type="button" class="btn btn-lg btn-white bdr_thm" id="show-refund-form">Refund Order</button>
                                    }
                                    @if(Model.Status == 3)
                                    {
                                        <button type="button" class="btn btn-lg btn-white bdr_thm" id="show-cancel-request-form">Cancel Order</button>
                                    }
                                </div>
                            </div>
                            <div class="row order-detail-form" id="cancel-form">
                                <form asp-action="Cancel" asp-controller="Order" method="post">
                                    <div class="mb-2 mr-sm-2">
                                        <label class="form-label">Cancel Reason</label>
                                        <input type="hidden" name="orderId" value="@Model.OrderId">
                                        <input type="text" class="form-control" name="cancelReason" placeholder="Enter your Cancel reason" required>
                                    </div>
                                    <button type="submit" class="btn btn-log btn-thm mt20">Submit</button>
                                </form>
                            </div>
                            <div class="row order-detail-form" id="refund-form">
                                <form asp-action="Refund" asp-controller="Order" method="post">
                                    <div class="mb-2 mr-sm-2">
                                        <label class="form-label">Refund Reason</label>
                                        <input type="hidden" name="orderId" value="@Model.OrderId">
                                        <input type="text" class="form-control" name="refundReason" placeholder="Enter your Refund reason" required>
                                    </div>
                                    <button type="submit" class="btn btn-log btn-thm mt20">Submit</button>
                                </form>
                            </div>
                            <div class="row order-detail-form" id="cancel-request-form">
                                <form asp-action="CancelRequest" asp-controller="Order" method="post">
                                    <div class="mb-2 mr-sm-2">
                                        <label class="form-label">Cancel Reason</label>
                                        <input type="hidden" name="orderId" value="@Model.OrderId">
                                        <input type="text" class="form-control" name="cancelReason" placeholder="Enter your Cancel reason" required>
                                    </div>
                                    <button type="submit" class="btn btn-log btn-thm mt20">Submit</button>
                                </form>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="order_complete_message text-center">
                                        <h2 class="title">Your Order Is @statusName(Model.Status)</h2>
                                        @if (showCancelReason.Contains(Model.Status))
                                        {
                                            <p class="para">Cancel reason: @Model.CancelReason</p>
                                        }
                                        @if (showRefundReason.Contains(Model.Status))
                                        {
                                            <p class="para">Refund reason: @Model.RefundReason</p>
                                        }
                                        @if (Model.Status == 2 && Model.RefundDuration != null && Model.RefundDuration > DateTime.Now)
                                        {
                                            DateTime refundDateTime = Model.RefundDuration ?? DateTime.Now;
                                            <p class="para">You can request a refund until @refundDateTime.ToString("MMMM dd yyyy")</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="shop_order_box mt25">
                                        <div class="order_list_raw text-center">
                                            <ul>
                                                <li class="list-inline-item">
                                                    <p>Order Number</p>
                                                    <h5>#@Model.OrderId</h5>
                                                </li>
                                                <li class="list-inline-item">
                                                    <p>Order Date</p>
                                                    @if (Model.CreatedAt != null)
                                                    {
                                                        DateTime createdAtDateTime = Model.CreatedAt ?? DateTime.Now;
                                                        <h5>
                                                            @createdAtDateTime.ToString("MMMM dd yyyy")
                                                        </h5>
                                                    }
                                                    else
                                                    {
                                                        <h5>
                                                            N/A
                                                        </h5>
                                                    }
                                                </li>
                                                <li class="list-inline-item">
                                                    <p>Delivery Date @(expectedDeliveryDate.Contains(Model.Status) ? "(expected)" : "")</p>
                                                    @if (Model.DeliveredAt != null)
                                                    {
                                                        DateTime delieveredAtDateTime = Model.DeliveredAt ?? DateTime.Now;
                                                        <h5>
                                                            @delieveredAtDateTime.ToString("MMMM dd yyyy")
                                                        </h5>
                                                    }
                                                    else
                                                    {
                                                        <h5>
                                                            N/A
                                                        </h5>
                                                    }
                                                </li>
                                                <li class="list-inline-item">
                                                    <p>Total</p>
                                                    <h5>@Model.TotalAmount.ToString("#,##0").Replace(",",".") VND</h5>
                                                </li>
                                                <li class="list-inline-item">
                                                    <p>Store</p>
                                                    <h5><a asp-action="Detail" asp-controller="Store" asp-route-id="@Model.StoreId">@Model.StoreName</a></h5>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="order_details">
                                            <h4 class="title mb25">Order Details</h4>
                                            <div class="od_content">
                                                <ul>
                                                    <li class="subtitle bb1 mb15"><p>Product <span class="float-end">Subtotal</span></p></li>
                                                    @foreach (var orderItem in Model.OrderItems)
                                                    {
                                                        decimal productTotal = orderItem.UnitPrice * orderItem.Quantity;
                                                        <li>
                                                            <p class="product_name_qnt">
                                                               <a asp-action="Detail" asp-controller="Product" asp-route-id="@orderItem.ProductId">@orderItem.Name</a> x @orderItem.Quantity <span class="float-end">@productTotal.ToString("#,##0").Replace(",",".") VND</span></p>
                                                        </li>
                                                    }
                                                    <li class="subtitle bt1 bb1 mb10 mt15 pt10"><p>Sub Total <span class="float-end">@Model.TotalAmountPreShipping.ToString("#,##0").Replace(",",".") VND</span></p></li>
                                                    <li class="subtitle bb1 mb10"><p>Total Shipping Cost <span class="float-end">@Model.TotalShippingCost.ToString("#,##0").Replace(",",".") VND</span></p></li>
                                                    <li class="subtitle bb1 mb10"><p>Payment Method <span class="float-end fwn_bd_color">@Model.PaymentMethod</span></p></li>
                                                    <li class="subtitle"><p>Total <span class="float-end totals">@Model.TotalAmount.ToString("#,##0").Replace(",",".") VND</span></p></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt25">
                                @if(Model.Status == 2 && Model.RefundDuration <= DateTime.Now && Model.IsReported == 1)
                                {
                                    <div class="col-xl-12">
                                        <button type="button" class="btn btn-lg btn-white bdr_thm" id="show-report-form">Report Refund Policy Violation</button>
                                    </div>
                                }
                                @if (Model.Status == 2 && Model.IsReported == 2)
                                {
                                    <div class="col-xl-12">
                                        <div class="shop_order_box mt25">
                                            <div class="order_list_raw text-center">
                                                <ul>
                                                    <li class="list-inline-item">
                                                        <h5>
                                                            This order has been reported and is being reviewed by the BTP admin team.
                                                            Admin will contact the store to confirm the return status and will 
                                                            confirm the status of the order as soon as possible for the customer. 
                                                            Report reason: @Model.ReportedReason
                                                        </h5>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.Status == 2 && Model.IsReported == 3)
                                {
                                    <div class="col-xl-12">
                                        <div class="shop_order_box mt25">
                                            <div class="order_list_raw text-center">
                                                <ul>
                                                    <li class="list-inline-item">
                                                        <h5>
                                                            Your return request has been denied after the admin team reviewed your order and contacted the store.
                                                            Report reason: @Model.ReportedReason
                                                        </h5>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.Status == 9 && Model.IsReported == 3)
                                {
                                    <div class="col-xl-12">
                                        <div class="shop_order_box mt25">
                                            <div class="order_list_raw text-center">
                                                <ul>
                                                    <li class="list-inline-item">
                                                        <h5>
                                                            Your return request has been approved by the admin team after contacting the store. Your order will be refunded as soon as possible according to the rules and policies of the website.
                                                            Report reason: @Model.ReportedReason
                                                        </h5>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="row order-detail-form" id="report-form">
                                    <form asp-action="Report" asp-controller="Order" method="post">
                                        <div class="mb-2 mr-sm-2">
                                            <label class="form-label">Report Reason</label>
                                            <input type="hidden" name="orderId" value="@Model.OrderId">
                                            <input type="text" class="form-control" name="reportReason" placeholder="Enter your Report reason" required>
                                        </div>
                                        <button type="submit" class="btn btn-log btn-thm mt20">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".order-detail-form").hide();
            $("#show-cancel-form").unbind().on('click', function () {
                $("#cancel-form").show();
            });
            $("#show-refund-form").unbind().on('click', function () {
                $("#refund-form").show();
            });
            $("#show-cancel-request-form").unbind().on('click', function () {
                $("#cancel-request-form").show();
            });
            $("#show-report-form").unbind().on('click', function () {
                $("#report-form").show();
            });
        });
    </script>
}