@model BusinessObject.DTOs.ClientProductViewListDTO
@{
    ViewData["Title"] = "Product Management";
}

<div class="mx-xxl-3 px-4 px-sm-5">
    <div class="py-5">
        <div class="row g-4 align-items-center">
            <div class="col">
                <h1 class="h3 m-0">Products</h1>
            </div>
            <div class="col-auto d-flex">
                <a asp-action="Create" asp-controller="Product" class="btn btn-primary">New product</a>
            </div>
        </div>
    </div>
</div>
<div class="mx-xxl-3 px-4 px-sm-5 pb-6">
    <div class="sa-layout">
        <div class="sa-layout__content">
            <div class="card">
                <div class="p-4">
                    <div class="row g-4">
                        <div class="col">
                            <form id="form-search-name" asp-controller="Product" asp-action="Index" method="GET">
                                <input id="name-search-input" value="@Model.Name" asp-for="Name" type="text" placeholder="Start typing to search for products" class="form-control form-control--search mx-auto">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sa-divider"></div>
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="sa-datatables">
                        @if (Model.ProductsPaginated.Count == 0)
                        {
                            <div class="my-5">
                                <h5 class="text-center">No products to be shown</h5>
                            </div>
                        }
                        else
                        {
                            int startingNum = (Model.Page - 1) * Model.Size + 1;
                            int endingNum = Math.Min(Model.Page * Model.Size, Model.TotalCount);
                            <div class="sa-datatables__table">
                                <table class="dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row">
                                            <th data-orderable="false" class="min-w-20x sorting_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 588.85px;">Product</th>
                                            <th data-orderable="false" class="sorting_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 135.163px;">Category</th>
                                            <th data-orderable="false" class="sorting_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 120.425px;">Stock</th>
                                            <th data-orderable="false" class="sorting_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 102.562px;">Price</th>
                                            <th data-orderable="false" class="w-min sorting_disabled" rowspan="1" colspan="1" style="width: 24.2px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model.ProductsPaginated)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <a href="app-product.html" class="me-4">
                                                            <div class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                                                <img src="@product.Image" width="40" height="40" alt="">
                                                            </div>
                                                        </a>
                                                        <div>
                                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.ProductId" class="text-reset">
                                                                @product.Name
                                                            </a>
                                                            <div class="sa-meta mt-0">
                                                                <ul class="sa-meta__list">
                                                                    <li class="sa-meta__item">
                                                                        ID: <span title="Click to copy product ID" class="st-copy">@product.ProductId</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class=""><p class="text-reset">@product.CategoryName</p></td>
                                                <td>
                                                    @if (product.Stock == 0)
                                                    {
                                                        <div class="badge badge-sa-danger">Out of Stock</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="badge badge-sa-success">@product.Stock In Stock</div>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="sa-price">
                                                        @product.UnitPrice.ToString("#,##0").Replace(",",".") VND
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sa-muted btn-sm" type="button" id="product-context-menu-1" data-bs-toggle="dropdown" aria-expanded="false" aria-label="More">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="3" height="13" fill="currentColor">
                                                                <path d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="product-context-menu-1">
                                                            <li><a class="dropdown-item" asp-action="Detail" asp-controller="Product" asp-route-id="@product.ProductId">Edit</a></li>
                                                            <li>
                                                                <hr class="dropdown-divider">
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item text-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@product.ProductId">Delete</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="sa-datatables__footer">
                                <div class="sa-datatables__pagination">
                                    @if (Model.TotalCount > Model.Size)
                                    {
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination pagination-sm">
                                                <!-- Previous Page -->
                                                @if (Model.Page != 1)
                                                {
                                                    <li class="paginate_button page-item previous" id="DataTables_Table_0_previous">
                                                        <a asp-action="Index" asp-controller="Product" asp-route-page="@(@Model.Page - 1)"
                                               asp-route-name="@Model.Name" aria-controls="DataTables_Table_0"
                                               tabindex="0" class="page-link">Previous</a>
                                                    </li>
                                                }

                                                <!-- First page -->
                                                @if (!Model.PageNumbers.Contains(1))
                                                {
                                                    <li class="paginate_button page-item">
                                                        <a asp-action="Index" asp-controller="Product" asp-route-page="1"
                                               asp-route-name="@Model.Name" aria-controls="DataTables_Table_0"
                                               tabindex="0" class="page-link">1</a>
                                                    </li>

                                                    <li class="paginate_button page-item">
                                                        <a href="#" aria-controls="DataTables_Table_0"
                                               tabindex="0" class="page-link">...</a>
                                                    </li>
                                                }

                                                <!-- Page items -->
                                                @foreach (int pageNo in Model.PageNumbers)
                                                {
                                                    <li class="paginate_button page-item @(@Model.Page == pageNo ? "active" : "")">
                                                        <a asp-action="Index" asp-controller="Product" asp-route-page="@pageNo"
                                               asp-route-name="@Model.Name" aria-controls="DataTables_Table_0"
                                               tabindex="0" class="page-link">@pageNo</a>
                                                    </li>
                                                }

                                                <!-- Last page -->
                                                @if (!Model.PageNumbers.Contains(Model.TotalPage))
                                                {
                                                    <li class="paginate_button page-item">
                                                        <a href="#" aria-controls="DataTables_Table_0"
                                               tabindex="0" class="page-link">...</a>
                                                    </li>

                                                    <li class="paginate_button page-item">
                                                        <a asp-action="Index" asp-controller="Product" asp-route-page="@Model.TotalPage"
                                               asp-route-name="@Model.Name" aria-controls="DataTables_Table_0"
                                               tabindex="0" class="page-link">@Model.TotalPage</a>
                                                    </li>
                                                }

                                                <!-- Next Page -->
                                                @if (Model.Page != Model.TotalPage)
                                                {
                                                    <li class="paginate_button page-item next" id="DataTables_Table_0_previous">
                                                        <a asp-action="Index" asp-controller="Product" asp-route-page="@(@Model.Page + 1)"
                                               asp-route-name="@Model.Name" aria-controls="DataTables_Table_0"
                                               tabindex="0" class="page-link">Next</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                                <div class="sa-datatables__controls">
                                    <div class="sa-datatables__legend">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing @startingNum to @endingNum of @Model.TotalCount</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#name-search-input").unbind().on('click', function (e) {
                if (e.which == 13) {
                    $("#form-search-name").submit();
                }
            });
        });
    </script>
}