@model BusinessObject.DTOs.LoginDTO

@{
    ViewData["Title"] = "Login";
}

<!-- Our SigIn -->
<section class="our-log-reg bgc-f5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5 col-xxl-4 m-auto">
                <div class="log_reg_form mt70-992">
                    <h2 class="title">Sign-In</h2>
                    <div class="login_form">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="ui_kit_message_box">
                                <div class="alert alart_style_three alert-dismissible fade show" role="alert">
                                    @ViewBag.ErrorMessage
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="flaticon-close"></span></button>
                                </div>
                            </div>
                        }
                        <form asp-action="Login" asp-controller="Home" asp-route-returnurl="@(Context.Request.Query["ReturnUrl"])" method="post">
                            <div class="mb-2 mr-sm-2">
                                <label class="form-label">Email address</label>
                                <input type="email" class="form-control" value="@Model.Email" asp-for="@Model.Email" placeholder="Enter your Email address" required>
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb5">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" value="@Model.Password" asp-for="@Model.Password" placeholder="Enter your Password" required>
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-log btn-thm mt20">Login</button>
                            <p class="text-center mb25 mt10">Don't have an account? <a asp-action="Register" asp-controller="Home">Create account</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>