@model BusinessObject.DTOs.ProductViewDTO

@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutCustomer";
    }
    ViewData["Title"] = Model.Name;
}

<!-- Shop Single Content -->
<section class="shop-single-content pb80 pt0 mt80 ovh">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="shop_single_natabmenu">
                    <div class="d-block">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade  show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div class="shop_single_navmenu_content mb-3 text-center">
                                    <a class="product_popup popup-img" href="@Model.Image">
                                        <span class="flaticon-full-screen"></span>
                                    </a>
                                    <div class="zoomimg_wrapper">
                                        <img class="zoom-img" id="zoom_01" src="@Model.Image"
                                             data-zoom-image="@Model.Image" width="350" alt="Shop Single Image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav d-flex nav-pills me-3 mb-3" id="v-pills-tab2" role="tablist"
                             aria-orientation="vertical">
                            <button class="nav-link mb-0 me-3 active" id="v-pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                    aria-selected="true">
                                <img src="@Model.Image" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="shop_single_product_details shop_single3_style ps-0 ps-xl-4 mt-4 mt-xl-0">
                    <h4 class="title mb15">@Model.Name</h4>
                    <hr>
                    <div class="sspd_price mb25 mt20">@Model.UnitPrice.ToString("#,##0").Replace(",",".") VND</div>
                    <div class="shop_single_table style3 table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Category:</th>
                                    <th scope="col">@Model.CategoryName</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Stock:</th>
                                    <td>@Model.Stock</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr class="mb-4">
                    <ul class="sspd_sku mb30">
                        <li class="d-flex mt-3">
                            <a href="#">Share</a>
                            <span class="social_icons">
                                <ul class="mb0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="shop_single_product_details shop_single3_style sidebar ss3_style mb-3 mb-xl-0">
                    <div class="sspd_price mb25">@Model.UnitPrice.ToString("#,##0").Replace(",",".") VND</div>
                    <ul class="cart_btns ui_kit_button mb15">
                        <li><button type="button" data-id="@Model.ProductId" class="add-cart-btn-detail btn btn-thm w100">Add to cart</button></li>
                    </ul>
                    <hr>
                    <div class="vendor_iconbox style2 d-block d-sm-flex mb-1">
                        <span class="icon fz30 heading-color"><span class="flaticon-shop"></span></span>
                        <div class="details ms-0 ms-sm-4 mt-2 mt-sm-0">
                            <p class="heading-color">Sold and shipped by</p>
                            <h5><a asp-action="Detail" asp-controller="Store" asp-route-id="@Model.StoreId">@Model.StoreName</a></h5>
                        </div>
                    </div>
                    <div class="vendor_iconbox style2 d-block d-sm-flex mb-1">
                        <span class="icon fz30 heading-color"><span class="flaticon-truck"></span></span>
                        <div class="details ms-0 ms-sm-4 mt-2 mt-sm-0">
                            <p class="heading-color">
                                Shipping from: <span class="fw500">@Model.StoreAddress</span>. Add this product to cart
                                and checkout to see shipping cost.
                            </p>
                        </div>
                    </div>
                    <div class="vendor_iconbox style2 d-block d-sm-flex mb-0">
                        <span class="icon fz30 heading-color"><span class="flaticon-return-box"></span></span>
                        <div class="details ms-0 ms-sm-4 mt-2 mt-sm-0">
                            <p class="heading-color">Free 3-Day returns</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-lg-12">
                <div class="shop_single3_style ui_kit_tab style2">
                    <!-- nav tab Nav List Start -->
                    <ul class="nav nav-tabs mb15" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link mt-3 mt-xl-0 mb-0 me-3 me-xl-5 active" id="description-tab"
                                    data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab"
                                    aria-controls="description" aria-selected="true">
                                Description
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link mt-3 mt-xl-0 mb-0 me-3 me-xl-5" id="returnpolicy-tab"
                                    data-bs-toggle="tab" data-bs-target="#returnpolicy" type="button" role="tab"
                                    aria-controls="returnpolicy" aria-selected="false">
                                Return Policy
                            </button>
                        </li>
                    </ul>
                    <!-- nav tab Nav List End -->
                    <!-- nav tab contents Start -->
                    <div class="tab-content pt20 row" id="myTabContent">
                        <div class="tab-pane fade show active col-lg-12" id="description" role="tabpanel"
                             aria-labelledby="description-tab">
                            <div class="shop_single_description">
                                <p class="para">@Html.Raw(Model.Description)</p>
                            </div>
                        </div>
                        <div class="tab-pane fade col-xl-12" id="returnpolicy" role="tabpanel"
                             aria-labelledby="returnpolicy-tab">
                            <p class="shipping_return_para mb-0 mt-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Nulla auctor aliquam tortor at suscipit. Etiam accumsan, est id vehicula cursus,
                                eros ligula suscipit massa, sed auctor felis mi eu massa. Sed vulputate nisi nibh, vel
                                maximus velit auctor nec. Integer consectetur elementum turpis, nec fermentum ipsum
                                tempor quis. Praesent a quam congue, egestas erat sit amet, finibus justo. Quisque
                                viverra neque vehicula eros gravida ultricies. Ut lacinia enim nec consequat tincidunt.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                Vivamus ultricies ornare feugiat. Donec vitae rhoncus sapien, ac aliquet nunc.
                            </p>
                        </div>
                    </div>
                    <!-- nav tab contents End -->
                </div>
            </div>
        </div>
        <div class="row mt50">
            @if (Model.RelatedProducts.Count > 0)
            {
                <div class="col-lg-12">
                    <div class="main-title">
                        <h2 class="title">Related products</h2>
                    </div>
                    <div class="navi_pagi_top_right related_product_slider slider_dib_sm shop_item_6grid_slider owl-theme owl-carousel">
                        @foreach (var item in Model.RelatedProducts)
                        {
                            <div class="item">
                                <div class="shop_item small_style bdr1 px-2 px-sm-3 mx--1">
                                    <div class="thumb pb30">
                                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                            <img style="height: 180px" class="img-fluid" src="@item.Image" alt="Shop Item1">
                                        </a>
                                        <div class="shop_item_cart_btn d-grid">
                                            <a data-id="@item.ProductId" class="add-cart-btn btn btn-thm">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="sub_title">@item.CategoryName</div>
                                        <div class="title" style="height:3.5em; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                                @item.Name
                                            </a>
                                        </div>
                                        <div class="si_footer">
                                            <div class="price">@item.UnitPrice.ToString("#,##0").Replace(",",".") VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            var relatedProductList = @Html.Raw(Json.Serialize(Model.RelatedProducts));

            // Set add to cart button onclick for related product
            $(".add-cart-btn").unbind().on('click', function () {
                var clickedItemId = $(this).data("id");
                var clickedItem = relatedProductList.find(obj => {
                    return obj.productId == clickedItemId;
                });

                let cart = {};
                if (localStorage.getItem("cart")) {
                    cart = JSON.parse(localStorage.getItem("cart"));
                };

                if (clickedItemId in cart) {
                    if (cart[clickedItemId].quantity < clickedItem.stock) {
                        cart[clickedItemId].quantity++;
                    }
                } else {
                    let cartItem = {
                        product: clickedItem,
                        storeId: clickedItem.storeId,
                        quantity: 1
                    };
                    cart[clickedItemId] = cartItem
                }

                localStorage.setItem("cart", JSON.stringify(cart));
                loadCart();
            });

            // Set add to cart button main detail
            $(".add-cart-btn-detail").unbind().on('click', function () {
                var clickedItemId = $(this).data("id");
                var clickedItem = @Html.Raw(Json.Serialize(Model));

                let cart = {};
                if (localStorage.getItem("cart")) {
                    cart = JSON.parse(localStorage.getItem("cart"));
                };

                if (clickedItemId in cart) {
                    if (cart[clickedItemId].quantity < clickedItem.stock) {
                        cart[clickedItemId].quantity++;
                    }
                } else {
                    let cartItem = {
                        product: clickedItem,
                        storeId: clickedItem.storeId,
                        quantity: 1
                    };
                    cart[clickedItemId] = cartItem
                }

                localStorage.setItem("cart", JSON.stringify(cart));
                loadCart();
            });
        });
    </script>
}