@model BusinessObject.DTOs.ClientProductViewListDTO

@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutCustomer";
    }
    ViewData["Title"] = "Products";
}

<!-- Custom Shop Category List Menu -->
<section class="p0 bb1 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="custom_shop_category_nav_list_menu">
                    <ul class="mb0 d-flex">
                        <li>
                            <a class="@(Model.Category == 0 ? "active" : "")"
                               asp-action="Index" asp-controller="Product" asp-route-category="0">
                                All Categories
                            </a>
                        </li>
                        @foreach (var cat in Model.Categories)
                        {
                            <li>
                                <a asp-action="Index" asp-controller="Product" asp-route-category="@cat.CategoryId"
                               class="@(Model.Category == cat.CategoryId ? "active" : "")">
                                    @cat.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Listing Grid View -->
<section class="our-listing pt10">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-2 d-none d-lg-block">
                <div class="sidebar_accordion_widget">
                    <div class="faq_according text-start">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header active" id="headingZero">
                                    <h4>
                                        <button class="btn btn-link text-start" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseZero" aria-expanded="true"
                                                aria-controls="collapseZero">
                                            Price (VND)
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseZero" class="collapse show" aria-labelledby="headingZero"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <form id="form-search-price" asp-controller="Product" asp-action="Index" method="GET">
                                            <div class="sidebar_widget_checkbox login-form">
                                                <div class="zmart_custom_range_slider mb-4 mt10">
                                                    <input type="hidden" asp-for="Category" value="@Model.Category" />
                                                    <input type="hidden" asp-for="Name" value="@Model.Name" />
                                                    <input type="text" class="amount mt-0 thousand-separator" value="@Model.Pmin" asp-for="@Model.Pmin">
                                                    <input type="text" class="amount2 mt-0 thousand-separator" value="@Model.Pmax" asp-for="@Model.Pmax">
                                                    <div class="slider-range mt-3 ms-2"></div>
                                                </div>
                                                <button type="submit" class="btn btn-log btn-thm mt20">Filter</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xl-10 pl50 pl15-md">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-title bb1 pb10">
                            <div class="row">
                                <div class="col-lg-7">
                                    @if (Model.Category != 0)
                                    {
                                        var c = Model.Categories.Where(c => c.CategoryId == Model.Category).FirstOrDefault();
                                        <text>
                                            <h2 class="title">@c.Name</h2>
                                            <p>@c.Description</p>
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            <h2 class="title">All Categories</h2>
                                            <p>Browse products of all categories</p>
                                        </text>
                                    }
                                </div>
                                <div class="col-lg-5">
                                    <form id="form-search-name" asp-controller="Product" asp-action="Index" method="GET">
                                        <div class="row mt5">
                                            <div class="col-lg-8">
                                                <input type="hidden" asp-for="Category" value="@Model.Category" />
                                                <input type="hidden" asp-for="Pmin" value="@Model.Pmin" />
                                                <input type="hidden" asp-for="Pmax" value="@Model.Pmax" />
                                                <input class="form_control" type="text" style="width:100%;"
                                                       value="@Model.Name" asp-for="Name" placeholder="Search products…">
                                            </div>
                                            <div class="col-lg-4 position-relative">
                                                <div class="advscrh_frm_btn" style="left: -12px">
                                                    <button type="submit" class="btn search-btn">
                                                        <span class="flaticon-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model.ProductsPaginated.Count != 0)
                    {
                        int startingNum = (Model.Page - 1) * Model.Size + 1;
                        int endingNum = Math.Min(Model.Page * Model.Size, Model.TotalCount);
                        <text>
                            <div class="col-lg-7">
                                <div class="filter_components">
                                    <ul class="mb0 align-items-center text-center text-lg-start">
                                        <li class="list-inline-item me-2 mb-3">
                                            <p class="pagination_page_count">Showing @startingNum – @endingNum of @Model.TotalCount results</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <form id="form-search-orderby" asp-controller="Product" asp-action="Index" method="GET">
                                    <input type="hidden" asp-for="Category" value="@Model.Category" />
                                    <input type="hidden" asp-for="Pmin" value="@Model.Pmin" />
                                    <input type="hidden" asp-for="Pmax" value="@Model.Pmax" />
                                    <input type="hidden" asp-for="Name" value="@Model.Name" />
                                    <div class="filter_components text-center text-lg-end">
                                        <ul class="mb-2 mb-md-0">
                                            <li class="list-inline-item d-lg-none me-2 mb-3">
                                                <a class="all-filter-btn flter_btn"
                                               href="#"><span class="flaticon-sort me-2"></span>All Filter</a>
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <div class="page_control_shorting mb20 text-center text-md-end">
                                                    <select class="selectpicker show-tick" asp-for="Order" onchange="selectChangeHandler()">
                                                        <option value="0">Newest</option>
                                                        <option value="1">Oldest</option>
                                                        <option value="2">Price: High to Low</option>
                                                        <option value="3">Price: Low to High</option>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </text>
                    }

                    @if (Model.ProductsPaginated.Count == 0)
                    {
                        <div class="my-5">
                            <h3 class="text-center">No products to be shown</h3>
                        </div>
                    }
                    else
                    {
                        <div class="row" id="product-list-get">
                            @foreach (var item in Model.ProductsPaginated)
                            {
                                <div class="col-6 col-lg-4 col-xl-3 p0 pl15-520">
                                    <div class="shop_item bdr1 m--1">
                                        <div class="thumb pb30">
                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                                <img style="height: 180px" class="rounded mx-auto d-block" src="@item.Image" alt="Shop Item1">
                                            </a>
                                            <div class="shop_item_cart_btn d-grid">
                                                <button data-id="@item.ProductId" class="add-cart-btn btn btn-thm">Add to Cart</button>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="sub_title">@item.CategoryName</div>
                                            <div class="title" style="height:3.5em; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                                    @item.Name
                                                </a>
                                            </div>
                                            <div class="si_footer">
                                                <div class="price">@item.UnitPrice.ToString("#,##0").Replace(",",".") VND</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (Model.TotalCount > Model.Size)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mbp_pagination mt30 text-center">
                                        <ul class="page_navigation">
                                            <!-- Previous Page -->
                                            @if (Model.Page != 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" tabindex="-1" aria-disabled="true"
                                           asp-action="Index" asp-controller="Product" asp-route-page="@(@Model.Page - 1)"
                                           asp-route-name="@Model.Name" asp-route-category="@Model.Category"
                                           asp-route-pmin="@Model.Pmin" asp-route-pmax="@Model.Pmax"
                                           asp-route-order="@Model.Order">
                                                        <span class="fas fa-angle-left"></span>
                                                    </a>
                                                </li>
                                            }

                                            <!-- First page -->
                                            @if (!Model.PageNumbers.Contains(1))
                                            {
                                                <li class="page-item">
                                                    <a class="page-link"
                                           asp-action="Index" asp-controller="Product" asp-route-page="1"
                                           asp-route-name="@Model.Name" asp-route-category="@Model.Category"
                                           asp-route-pmin="@Model.Pmin" asp-route-pmax="@Model.Pmax"
                                           asp-route-order="@Model.Order">
                                                        1
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                            }

                                            <!-- Page items -->
                                            @foreach (int pageNo in Model.PageNumbers)
                                            {
                                                <li class="page-item @(@Model.Page == pageNo ? "active" : "")">
                                                    <a class="page-link"
                                           asp-action="Index" asp-controller="Product" asp-route-page="@pageNo"
                                           asp-route-name="@Model.Name" asp-route-category="@Model.Category"
                                           asp-route-pmin="@Model.Pmin" asp-route-pmax="@Model.Pmax"
                                           asp-route-order="@Model.Order">
                                                        @pageNo
                                                    </a>
                                                </li>
                                            }

                                            <!-- Last page -->
                                            @if (!Model.PageNumbers.Contains(Model.TotalPage))
                                            {
                                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                                <li class="page-item">
                                                    <a class="page-link"
                                           asp-action="Index" asp-controller="Product" asp-route-page="@Model.TotalPage"
                                           asp-route-name="@Model.Name" asp-route-category="@Model.Category"
                                           asp-route-pmin="@Model.Pmin" asp-route-pmax="@Model.Pmax"
                                           asp-route-order="@Model.Order">
                                                        @Model.TotalPage
                                                    </a>
                                                </li>
                                            }

                                            <!-- Next Page -->
                                            @if (Model.Page != Model.TotalPage)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" tabindex="-1" aria-disabled="true"
                                           asp-action="Index" asp-controller="Product" asp-route-page="@(@Model.Page + 1)"
                                           asp-route-name="@Model.Name" asp-route-category="@Model.Category"
                                           asp-route-pmin="@Model.Pmin" asp-route-pmax="@Model.Pmax"
                                           asp-route-order="@Model.Order">
                                                        <span class="fas fa-angle-right"></span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content -->
@section Scripts {
    <script>
        $(document).ready(function () {
            var currentProductList = @Html.Raw(Json.Serialize(Model.ProductsPaginated));

            // Set add to cart button onclick
            $(".add-cart-btn").unbind().on('click', function () {
                var clickedItemId = $(this).data("id");
                var clickedItem = currentProductList.find(obj => {
                    return obj.productId == clickedItemId;
                });

                let cart = {};
                if (localStorage.getItem("cart")) {
                    cart = JSON.parse(localStorage.getItem("cart"));
                };

                if(clickedItemId in cart){
                    if(cart[clickedItemId].quantity < clickedItem.stock){
                        cart[clickedItemId].quantity++;
                    }
                } else {
                    let cartItem = {
                        product: clickedItem,
                        storeId: clickedItem.storeId,
                        quantity: 1
                    };
                    cart[clickedItemId] = cartItem
                }

                localStorage.setItem("cart", JSON.stringify(cart));
                loadCart();
            });
        });
        function selectChangeHandler() {
            document.getElementById("form-search-orderby").submit();
        }
    </script>
}