@model BusinessObject.DTOs.LoginDTO

@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = "Store Login";
}

<div class="min-h-100 p-0 p-sm-6 d-flex align-items-stretch">
    <div class="card w-25x flex-grow-1 flex-sm-grow-0 m-sm-auto">
        <div class="card-body p-sm-5 m-sm-3 flex-grow-0">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger mb-5 alert-dismissible fade show" role="alert">
                    @ViewBag.ErrorMessage
                    <button type="button" class="sa-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <h1 class="mb-0 fs-3">BTP Store Sign In</h1>
            <div class="fs-exact-14 text-muted mt-2 pt-1 mb-5 pb-2">Log in to your Store account to continue.</div>
            <form asp-action="Login" asp-controller="Home" method="post">
                <div class="mb-4">
                    <label class="form-label">Email Address</label>
                    <input type="email" class="form-control form-control-lg" value="@Model.Email" asp-for="@Model.Email" placeholder="Enter your Email address" required />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control form-control-lg" value="@Model.Password" asp-for="@Model.Password" placeholder="Enter your Password" required />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-lg w-100">Sign In</button>
                </div>
            </form>
        </div>
        <div class="sa-divider sa-divider--has-text">
        </div>
        <div class="card-body p-sm-5 m-sm-3 flex-grow-0">
            <div class="form-group mb-0 mt-4 pt-2 text-center text-muted">
                Don&#x27;t have an account? <a asp-action="Register" asp-controller="Home">Sign up</a>
            </div>
        </div>
        <div class="sa-divider sa-divider--has-text">
        </div>
        <div class="card-body p-sm-5 m-sm-3 flex-grow-0">
            <div class="form-group mb-0 mt-4 pt-2 text-center text-muted">
                Customer Account? <a href="http://localhost:5285/Home/Login">Follow this link</a>
            </div>
        </div>
    </div>
</div>